header
{
    display: flex;
    justify-content: space-between;
    align-items: center;

    height: 10vh;

    padding: 5px 15px;
    border-bottom: solid 1px #555;
    box-shadow: 5px 2px #eee;

    background-color: #FFDE4C;

}

header img
{
    height: 100%;
}

header div {
    height: 100%;
    display: flex;
    align-items: center;   /* ✅ centers vertically */
}

header #links {
    gap: 20px;
    justify-content: flex-start;
    align-items: center;   /* ✅ centers links vertically */
    padding-right: 20px;
}

header .cart
{
    font-size: x-large;
    padding-left: 10px;
    padding-right: 10px;
    cursor: pointer;
}

header .cart #cart-items
{
    font-size: .7em;
    height: 50%;
    align-items: start;
    padding-left: 5px;
}

main
{
    display: grid;
    grid-template-columns: 350px auto;
    margin-top: 15px;
    height: 87vh;
}

main > .filter-box
{
    width: 350px;
    padding: 15px;
}

main #min-price .slider-selection {
    background: #BABABA;
}

main > .content
{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
    height: 87vh;
    overflow: scroll;
}

main > .content-form
{
    display: flex;
    flex-direction: column;
    padding-right: 20px;
}

main > .content-form .cart-header,
main > .content-form .cart-item
{
    border-bottom: solid 1px #ccc;
}

.content-form .photo
{
    display: flex;
    gap: 10px;
}

.content-form .photo img
{
    width: 100px;
    cursor: pointer;
    border: solid 1px #ccc;
}

.content-form .cart-header
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content-form .cart-total
{
    margin: 10px 0;
    color: yellow;
}

.product
{
    display: flex;
    flex-direction: column;

    justify-content: space-between;
    /*width: 30%;*/
    border: solid 1px #ccc;
    padding: 5px;
    border-radius: 5px;
    margin: 5px;
}
.product  .photo
{
    display: flex;
    justify-content: space-between;
    padding: 0 10px 10px 10px;
}
.product  .photo > img
{
    width: 33%;
    cursor: pointer;
    border: solid 1px #ccc;
}

.product .price
{
    font-weight: 900;
    color: #880D1E;
}

.modal-body img
{
    width:100%;
}

.product > .add-button
{
    display: flex;
}

.visible
{
    display: block;
}

.hidden
{
    display: none !important;
}

.modal
{
    display: flex;
    justify-content: center;
    position: absolute;
    top: 0;
    background-color: #880D1E;
    width: 100vw;
    height: 100vh;
    z-index: 1000;
    padding: 30px;
}

.modal-dialog
{
    width: 50vw;
}

#errors
{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 100vw;
    padding-top: 5px;
    opacity: 90%;
}
#errors > div{
    width: 33vw;
}

.alert
{
    margin-bottom: 2px !important;
}

/* ================================
   HEADER NAV TEXT COLOR FIX
   ================================ */

/* Home, Profile, Login / Sign In links */
header a {
    color: #C33737;          /* text color */
    text-decoration: none;  /* remove underline */
    font-weight: 600;
    text-transform: uppercase;
}

/* Hover effect */
header a:hover {
    color: #242222;
}

/* View Cart text / icon */
header .cart {
    color: #C33737;
}

/* Cart hover */
header .cart:hover {
    color: #FFFEFE;
}
